In [58]:
import pandas as pd

In [59]:
data = pd.read_csv('data/online_gaming_behavior_dataset.csv')

In [60]:
print(data.head(10))
# variable objetivo : Engagementlevel

   PlayerID  Age  Gender Location   GameGenre  PlayTimeHours  InGamePurchases  \
0      9000   43    Male    Other    Strategy      16.271119                0
1      9001   29  Female      USA    Strategy       5.525961                0
2      9002   22  Female      USA      Sports       8.223755                0
3      9003   35    Male      USA      Action       5.265351                1
4      9004   33    Male   Europe      Action      15.531945                0
5      9005   37    Male   Europe         RPG      20.561855                0
6      9006   25    Male      USA      Action       9.752716                0
7      9007   25  Female     Asia         RPG       4.401729                0
8      9008   38  Female   Europe  Simulation      18.152733                0
9      9009   38  Female    Other      Sports      23.942772                0

  GameDifficulty  SessionsPerWeek  AvgSessionDurationMinutes  PlayerLevel  \
0         Medium                6                        108           79
1         Medium                5                        144           11
2           Easy               16                        142           35
3           Easy                9                         85           57
4         Medium                2                        131           95
5           Easy                2                         81           74
6           Hard                1                         50           13
7         Medium               10                         48           27
8           Easy                5                        101           23
9           Easy               13                         95           99

   AchievementsUnlocked EngagementLevel
0                    25          Medium
1                    10          Medium
2                    41            High
3                    47          Medium
4                    37          Medium
5                    22             Low
6                     2             Low
7                    23          Medium
8                    41          Medium
9                    36            High

In [61]:
data = data.drop('PlayerID', axis=1)  # Eliminar columna ID

In [62]:
data.columns = data.columns.str.strip()  # Eliminar espacios en blanco en los nombres de las columnas
data.columns

Index(['Age', 'Gender', 'Location', 'GameGenre', 'PlayTimeHours',
       'InGamePurchases', 'GameDifficulty', 'SessionsPerWeek',
       'AvgSessionDurationMinutes', 'PlayerLevel', 'AchievementsUnlocked',
       'EngagementLevel'],
      dtype='object')

In [63]:
# datos nulos
data.isnull().sum()

Age                          0
Gender                       0
Location                     0
GameGenre                    0
PlayTimeHours                0
InGamePurchases              0
GameDifficulty               0
SessionsPerWeek              0
AvgSessionDurationMinutes    0
PlayerLevel                  0
AchievementsUnlocked         0
EngagementLevel              0
dtype: int64

In [64]:
# datos duplicados
data.duplicated().sum()

np.int64(0)

In [65]:
unique = data['EngagementLevel'].unique()
data['EngagementLevel'] = data['EngagementLevel'].map(lambda x: x.strip() if isinstance(x, str) else x) #quitar espacios en blanco
data.head(10)

,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,43,Male,Other,Strategy,16.271119,0,Medium,6,108,79,25,Medium
1,29,Female,USA,Strategy,5.525961,0,Medium,5,144,11,10,Medium
2,22,Female,USA,Sports,8.223755,0,Easy,16,142,35,41,High
3,35,Male,USA,Action,5.265351,1,Easy,9,85,57,47,Medium
4,33,Male,Europe,Action,15.531945,0,Medium,2,131,95,37,Medium
5,37,Male,Europe,RPG,20.561855,0,Easy,2,81,74,22,Low
6,25,Male,USA,Action,9.752716,0,Hard,1,50,13,2,Low
7,25,Female,Asia,RPG,4.401729,0,Medium,10,48,27,23,Medium
8,38,Female,Europe,Simulation,18.152733,0,Easy,5,101,23,41,Medium
9,38,Female,Other,Sports,23.942772,0,Easy,13,95,99,36,High

In [66]:
media_logros = data[data['EngagementLevel'] == "Medium"]["AchievementsUnlocked"].median() #criterio de corte para "Medium"
print(media_logros)

26.0

In [67]:
# Dentro de la clase 'Medium', dividir por logros desbloqueados para que existan 4 clases de calificacion
def redefine_engagement(row):
    if row['EngagementLevel'] == 'Medium':
        if row['AchievementsUnlocked'] < media_logros:
            return 'Medium_Low'
        else:
            return 'Medium_High'
    else:
        return row['EngagementLevel']

data['EngagementLevel'] = data.apply(redefine_engagement, axis=1)
data['EngagementLevel'].value_counts()

EngagementLevel
High           10336
Low            10324
Medium_High     9719
Medium_Low      9655
Name: count, dtype: int64

In [68]:
data.to_csv('data/processed_online_gaming_behavior_dataset.csv', index=False)